:host {
    display: flex;
    min-height: 100vh;
}
.imged {
    background-image:url('../../../assets/2015_10_18_18_31_50_345.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}